<a href="https://colab.research.google.com/github/aidulfitrim/aidulfitrimustamin/blob/main/tugas_algopro_pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : **Aidul Fitri Mustamin**


NIM  : **H051211038**

**TUGAS ALGORITMA DAN PEMROGRAMAN**

Menghitung penjumlahan dua buah matriks

In [ ]:
MatriksA = [
        [9, 7],
        [4, 5],
]
MatriksB = [
        [2, 8],
        [6, 5],
]
MATC = []
for i in range(0, len(MatriksA)):
    hasil = 0
    row =[]
    for j in range(0, len(MatriksA[0])):
        hasil = MatriksA[i][j] + MatriksB[i][j]
        row.append(hasil)
    print(row)
    MATC.append(row)
print('Jadi, hasil penjumlahan 2 buah matriks tersebut adalah')
print(MATC)

[11, 15]
[10, 10]
Jadi, hasil penjumlahan 2 buah matriks tersebut adalah
[[11, 15], [10, 10]]

1. Buatlah program untuk menghitung total pembelian N buah barang dengan harga dan jumlah tertentu

In [38]:
BarangA = eval(input("Harga satuan Barang A adalah= Rp. "))
Total_BarangA =eval(input("Total Barang A yang Ingin Dibeli="))
HargaBarangA= float(BarangA*Total_BarangA)
print('Jadi, total harga pembelian adalah Rp. %1.f' %(HargaBarangA))

BarangB = eval(input("Harga satuan Barang B adalah= Rp. "))
Total_BarangB =eval(input("Total Barang B yang Ingin Dibeli="))
HargaBarangB= float(BarangB*Total_BarangB)
print('Jadi, harga pembelian adalah Rp. %1.f' %(HargaBarangB))

TotalPembelian=float(HargaBarangA + HargaBarangB)
print('Jadi, total pembelian barang adalah RP. %1.f' %(TotalPembelian))

Harga satuan Barang A adalah= Rp. 12000
Total Barang A yang Ingin Dibeli=1
Jadi, total harga pembelian adalah Rp. 12000
Harga satuan Barang B adalah= Rp. 10000
Total Barang B yang Ingin Dibeli=2
Jadi, harga pembelian adalah Rp. 20000
Jadi, total pembelian barang adalah RP. 32000

**ATAU**

In [42]:
total = 0
barang = []
harga = []

while True:
  print("""Daftar Barang\n
  1. Air \t 3000
  2. Roti \t 2000
  3. Sosis \t 4000
  4. Telur \t 3000
  5. Sayur \t 15000
  6. Kopi \t 7000
  7. Susu \t 5000
  """)

  kode=int(input("Masukkan kode barang : "))
  if kode == 1:
    barang.append('Air')
    harga.append(3000)
    total += 5000
  elif kode == 2:
    barang.append('Roti')
    harga.append('2000')
    total += 2000
  elif kode == 3:
    barang.append('Sosis')
    harga.append(4000)
    total +=2000
  elif kode == 4: 
    barang.append('Telur')
    harga.append('3000')
    total += 3000
  elif kode == 5:
    barang.append('Sayur')
    harga.append('15000')
    total += 15000
  elif kode == 6:
    barang.append('Kopi')
    harga.append('7000')
    total += 7000
  elif kode == 7:
    barang.append('Susu')
    harga.append('5000')
    total += 5000
  else:
    print('kode tidak valid')
  lanjut = input('lanjut belanja (y/t) : ') 
  if lanjut == 't':
    print("")
    break

print('Barang yang dibeli : ', barang)
print('Harga barangnya adalah : ', harga)
print('Total yang harus dibayar adalah : ', total, '\n')

uang = int(input('Masukkan uang pembayaran : '))
if uang > total:
  print('Kembaliannya : ', uang - total)
elif uang == total:
  print('Uang pas dan sesuai pembayaran')
else:
  print('Uang kurang dari pembayaran', uang - total)

print('Terima Kasih Atas Kunjungannya')

Daftar Barang

  1. Air 	 3000
  2. Roti 	 2000
  3. Sosis 	 4000
  4. Telur 	 3000
  5. Sayur 	 15000
  6. Kopi 	 7000
  7. Susu 	 5000

Masukkan kode barang : 1
lanjut belanja (y/t) : y
Daftar Barang

  1. Air 	 3000
  2. Roti 	 2000
  3. Sosis 	 4000
  4. Telur 	 3000
  5. Sayur 	 15000
  6. Kopi 	 7000
  7. Susu 	 5000

Masukkan kode barang : 3
lanjut belanja (y/t) : y
Daftar Barang

  1. Air 	 3000
  2. Roti 	 2000
  3. Sosis 	 4000
  4. Telur 	 3000
  5. Sayur 	 15000
  6. Kopi 	 7000
  7. Susu 	 5000

Masukkan kode barang : 4
lanjut belanja (y/t) : y
Daftar Barang

  1. Air 	 3000
  2. Roti 	 2000
  3. Sosis 	 4000
  4. Telur 	 3000
  5. Sayur 	 15000
  6. Kopi 	 7000
  7. Susu 	 5000

Masukkan kode barang : 7
lanjut belanja (y/t) : t

Barang yang dibeli :  ['Air', 'Sosis', 'Telur', 'Susu']
Harga barangnya adalah :  [3000, 4000, '3000', '5000']
Total yang harus dibayar adalah :  15000

Masukkan uang pembayaran : 15000
Uang pas dan sesuai pembayaran
Terima Kasih Atas Kunjungannya

2. Buatlah program untuk menghitung banyaknya bilangan genap ataupun bilangan ganjil dari N buah bilangan yang diinput secara acak

In [43]:
print("Input bilangan secara acak, jika bilangan yang diinput melebihi 1 silahkan menggunakan tanda koma ")
Penginputan=input("Silahkan menginpit bilangan secara acak = ")
Penginputan=Penginputan.split(",")
print(Penginputan)

countgenap=0
countganjil=0

for i in Penginputan:
  if int(i)%2 == 0:
    countgenap+=1
  else:
    countganjil+=1
print()
print("Total Bilangan genap adalah", countgenap )
print("Total Bilangan ganjil adalah", countganjil)

Input bilangan secara acak, jika bilangan yang diinput melebihi 1 silahkan menggunakan tanda koma
Silahkan menginpit bilangan secara acak = 1,2,4,6,8,10,12,13,15,17
['1', '2', '4', '6', '8', '10', '12', '13', '15', '17']

Total Bilangan genap adalah 6
Total Bilangan ganjil adalah 4

3. Buatlah program untuk menampilkan bilangan kelipatan 3 di antara bilangan tertentu

In [32]:
awal=int(input('Set Nilai Awal= '))
akhir=int(input('Set Nilai Akhir= '))
print('Mencari bilangan kelipatan 3  pada bilangan : ')
for n in range(awal,akhir+1):
  print(n, end= ' ')

print('\nJadi, bilangan kelipatan 3 di antara bilangan %d dan %d adalah' %(awal,akhir))
evens=[]

for n in range(awal,akhir+1):
  if n%3==0:
      evens.append(n)
print(evens)

Set Nilai Awal= 1
Set Nilai Akhir= 15
Mencari bilangan kelipatan 3  pada bilangan :
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
Jadi, bilangan kelipatan 3 di antara bilangan 1 dan 15 adalah
[3, 6, 9, 12, 15]

4. Buatlah program untuk menampilkan bentuk bilangan seperti berikut ini:
Bilangan=<input suatu bilangan (misal:5)>

1

12

123

1234

12345

In [39]:
rows=int(input('Nilai dari kolom- '))
for i in range(rows):
  for j in range(i+1):
    print(j+1,end=' ')
  print('\n')

Nilai dari kolom- 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

5. Buatlah program untuk menghitung dan menampilkan bentuk berikut ini

In [72]:
print("Program Menghitung Nilai Akhir Mahasiswa")
list_no=[]
list_nama=[]
list_tugas=[]
list_kuis=[]
list_uts=[]
list_uas=[]
list_nilaiakhir=[]

program=int(input('Banyak Data Mahasiswa : '))
for i in range(program):
  print()
  print('Input Data Ke- ' + str(i+1))
  list_no.append(str(i+1))
  list_nama.append(input('Masukkan Nama Mahasiswa : '))
  list_tugas.append(int(input('Masukkan Nilai Tugas : ')))
  list_kuis.append(int(input('Masukkan Nilai Kuis : ')))
  list_uts.append(int(input('Masukkan Nilai Ujian Tengah Semester : ')))
  list_uas.append(int(input('Masukkan Nilai Ujian Akhir Semester : ')))

#Proses Perhitungan
for i in range(program):
  list_nilaiakhir.append((list_tugas[i] + list_kuis[i] + list_uas[i] + list_uts[i]) / 4)


#Program Menampilkan Tabel
print("-------------------------------------------------------------------------------------------------------")
print("No.  Nama Mahasiswa       N.Tugas         N.Kuis          N.UTS          N.UAS        Nilai Akhir")
print("-------------------------------------------------------------------------------------------------------")
for i in range(program):
  print(list_no[i],"\t",list_nama[i],"\t\t",list_tugas[i],"\t\t",list_kuis[i],"\t\t",list_uts[i],"\t\t",list_uas[i],"\t\t",list_nilaiakhir[i])
print("-------------------------------------------------------------------------------------------------------")

Program Menghitung Nilai Akhir Mahasiswa
Banyak Data Mahasiswa : 5

Input Data Ke- 1
Masukkan Nama Mahasiswa : Peter Han
Masukkan Nilai Tugas : 90
Masukkan Nilai Kuis : 87
Masukkan Nilai Ujian Tengah Semester : 89
Masukkan Nilai Ujian Akhir Semester : 94

Input Data Ke- 2
Masukkan Nama Mahasiswa : Christ Bahng
Masukkan Nilai Tugas : 87
Masukkan Nilai Kuis : 88
Masukkan Nilai Ujian Tengah Semester : 67
Masukkan Nilai Ujian Akhir Semester : 78

Input Data Ke- 3
Masukkan Nama Mahasiswa : Sam Hwang
Masukkan Nilai Tugas : 78
Masukkan Nilai Kuis : 80
Masukkan Nilai Ujian Tengah Semester : 67
Masukkan Nilai Ujian Akhir Semester : 80

Input Data Ke- 4
Masukkan Nama Mahasiswa : Sky Kim
Masukkan Nilai Tugas : 67
Masukkan Nilai Kuis : 80
Masukkan Nilai Ujian Tengah Semester : 90
Masukkan Nilai Ujian Akhir Semester : 95

Input Data Ke- 5
Masukkan Nama Mahasiswa : Felix Lee
Masukkan Nilai Tugas : 78
Masukkan Nilai Kuis : 90
Masukkan Nilai Ujian Tengah Semester : 95
Masukkan Nilai Ujian Akhir Semester : 79
-------------------------------------------------------------------------------------------------------
No.  Nama Mahasiswa       N.Tugas         N.Kuis          N.UTS          N.UAS        Nilai Akhir
-------------------------------------------------------------------------------------------------------
1 	 Peter Han 		 90 		 87 		 89 		 94 		 90.0
2 	 Christ Bahng 		 87 		 88 		 67 		 78 		 80.0
3 	 Sam Hwang 		 78 		 80 		 67 		 80 		 76.25
4 	 Sky Kim 		 67 		 80 		 90 		 95 		 83.0
5 	 Felix Lee 		 78 		 90 		 95 		 79 		 85.5
-------------------------------------------------------------------------------------------------------